*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body
{
	background-color: white;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links
{
    flex: 1;
    text-align: center;
	margin-top: 8px;
}
.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px;
    position: relative;
}
.nav-links ul li a
{
	text-decoration: none;
	color: #425e6b;
	font-size: 16px;
}
.nav-links ul li a:hover
{
	color: #223036;
	transition: 0.1s;
}

h1, h2, h3, p
{
	color: #425158;
}
h1, h2, h3
{
	margin: auto;
	padding: 8px;
	text-align: center;
	text-transform: uppercase;
}
p
{
	font-size: 16px;
	padding: 8px;
}

table, td, th
{
	border: solid 1px black;
}
th
{
	font-weight: bold;
}
ul
{
	text-transform: capitalize;
	padding: 12px;
}

form
{
	position: static;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6px;
	
	text-align: center;
	width: 50%;
	font-weight: bold;
	padding: 8px;
}

form input
{
	position: static;
	width: auto;
	padding: 4px;
	margin: 4px;
	text-align: center;
}
form input[type=button]
{
	color: black;
	background-color: #F2F4F3;
	padding: 5px;
	margin: 8px;
}
form input[type=button]:hover, form input[type=text]:focus
{
	background-color: #E5E5E5;
}

.seperator
{
	border-top: solid;
	border-top-width: 2px;
}

.body-block
{
	background-color: #dce3e9;
	padding: 22px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	width: 50%;

	border-radius: 5px;
}
.body-block p
{
	text-align: center;
	font-style: italic;
}

#projects-table
{
	border: solid;
	border-width: 0.5px;
	margin: auto;
	width: 75%;
}

#intro
{
	font-style: italic;
}

.data-header
{
	font-weight: bold;
}

.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
.project
{
	background-color: #E5D6C9;
	padding: 12px;
	margin-bottom: 6px;
	position: static;
}

.footer
{
	display: flex;
	position: relative;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 995px;
	width: 100%;

	background-color: #dce3e9;
	height: 70px;

	border-radius: 5px;
}

.social-link
{
	flex: 10%;
	width: 100%;
	height: 100%;
	padding: 8px;
}
.social-link img
{
	border-radius: 50%;
	border: 2px solid white;	
}