*
{
	margin: 0;
	padding: 0;

	font-family: 'Helvetica';
}
body
{
	background-color: white;
}
nav
{
	padding-top: 6px;
	margin-bottom: 3px;
}
a
{
	text-decoration: none;
	color: #425e6b;
}
a:hover
{
	color: #2a3b42;
}

h1, h2, h3, p
{
	color: #425158;
}
h1, h2, h3
{
	margin: auto;
	padding: 8px;
	text-align: center;
	text-transform: capitalize;
}
p
{
	font-size: 16px;
	padding: 8px;
}

table, td, th
{
	border: solid 1px black;
}
th
{
	font-weight: bold;
}
ul
{
	text-transform: capitalize;
	padding: 12px;
}
form
{
	position: static;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6px;
	
	text-align: center;
	width: 50%;
	font-weight: bold;
	padding: 8px;
}

input
{
	position: static;
	width: auto;
	padding: 4px;
	margin: 4px;
	text-align: center;
}
input[type=button]
{
	color: black;
	background-color: #F2F4F3;
	padding: 5px;
	margin: 8px;
}
input[type=button]:hover, input[type=text]:focus 
{
	background-color: #E5E5E5;
}
input[type=radio]
{
	margin: 4px;
}

.seperator
{
	border-top: solid;
	border-top-width: 2px;
}

.body-block
{
	background-color: #dce3e9;
	padding: 24px;
	margin: 6px;
}

.footer
{
	display: flex;
	position: relative;
	align-items: center;
	margin: 6px;
}

.overlay-item
{
	flex: 10%;
	width: 100%;
	height: 100%;
	padding: 8px;
}

#projects-table
{
	border: solid;
	border-width: 0.5px;
}

#intro
{
	font-style: italic;
}

.data-header
{
	font-weight: bold;
}

.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
.project
{
	background-color: #E5D6C9;
	padding: 12px;
	margin-bottom: 6px;
	position: static;
}

.footer
{
	background-color: #dce3e9;
	width: auto;
	height: 70px;
}