body
{
	background-color: #EEEEFF;
}
nav
{
	padding-top: 6px;
	margin: 3px;
}
h1
{
	text-decoration: underline;
	color: #22333B;
	font-family: sans-serif;
}
h2
{
	text-decoration: underline;
	color: #22333B;
	font-family: sans-serif;
}
h3
{
	text-decoration: underline;
	color: #22333B;
	font-family: sans-serif;
}
a
{
	font-family: sans-serif;
}
p
{
	font-family: sans-serif;
	font-size: 1.2Em;
	color: #22333B;
}
td
{
	border-right: solid;
	border-right-color: #5E503F;
	border-right-width: 0.5px; 
}
th
{
	border-bottom: solid;
	border-bottom-width: 0.5px;
	border-bottom-color: #5E503F;
}
ul
{
	text-transform: capitalize;
	color: #6B2B06;
}
form
{
	position: static;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6px;
	text-align: center;
	width: 50%;
	padding: 8px;
	font-style: italic;
	font-weight: 900px;
}

input
{
	position: static;
	width: auto;
	padding: 2px;
	text-align: center;
}
input[type=button]
{
	color: black;
	background-color: #F2F4F3;
	padding: 5px;
}
input[type=button]:hover, input[type=text]:focus 
{
	background-color: #E5E5E5;
}


.overlay-layer
{
	display: flex;
	width: auto;
}

.overlay-item
{
	flex-basis: 10%;
	width: 100%;
}

/* .overlayImage
{
	width: 45px;
	max-width: 100%;
	height: auto;
}
.overlayImageIconID
{
	position: relative;
	left: -24px;
	bottom: 30px;
}
*/

.header
{
	/*background-color: #E5E5E5;*/
	background-color: #E5D6C9;
	padding: 12px;
	position: static;
}
.footer
{
	/*background-color: #E5E5E5;*/
	background-color: #E5D6C9;
	padding: 12px;
	width: auto;
	height: 35px;
}
.seperator
{
	border-top: solid;
	border-top-width: 0.5px;
}
.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
.center-text
{
	text-align: center;
}
.project
{
	background-color: #E5D6C9;
	padding: 12px;
	margin-bottom: 6px;
	position: static;
}
.body-block
{
	/*background-color: #E5E5E5;*/
	/* background-color: #E5D6C9; */
	background-color: #9FB4C7;
	padding: 12px;
	margin-bottom: 6px;
	position: static;
	width: auto;
	border: solid;
	border-color: #6486A1;
	border-width: 2px;
}

.inner
{
	background-color: #6486A1;
}

.noMargin
{
	margin: 0px;
}

#projects-table
{
	border: solid;
	border-width: 0.5px;
}